Worflow_Asaas_Chatwoot_Pagamentos.json
{
  "name": "Worflow Asaas Chatwoot Pagamentos",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "client_name",
              "value": "={{ $json.data[0].name }}"
            },
            {
              "name": "=client_email",
              "value": "={{ $json.data[0].email }}"
            },
            {
              "name": "=client_cel",
              "value": "={{$json[\"client_cel\"]}}"
            },
            {
              "name": "client_identifier",
              "value": "={{ $json.data[0].cpfCnpj }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "d899728d-6e7c-47ed-87f6-e6e7c5ce4580",
      "name": "Organizando as Informações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2440,
        740
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.data[0].dateCreated }}",
        "duration": "={{ $node.Dias.json.Dias }}",
        "dataPropertyName": "Data próximo Vencimento",
        "options": {}
      },
      "id": "d6876dc1-00c8-452b-84d2-af6516478164",
      "name": "Capturando Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1940,
        740
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM accounts WHERE (custom_attributes->>'identifier')::TEXT = '{{ $json.client_identifier }}' LIMIT 1;",
        "additionalFields": {}
      },
      "id": "37da8730-0eb0-4e2c-a2cd-44ab28f45c58",
      "name": "Get Existent Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2620,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.AccountId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e47ed281-09f3-4da7-899b-63bbe2a98390",
      "name": "If account found ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3280,
        760
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "79b9d2e1-bfba-490c-a387-47e640414d22",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2980,
        760
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "4343ed08-2ccd-46b0-9661-3b329e4db13a",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        3980,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "AccountId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8bd36007-6631-453d-88d3-aea5fe0e33b4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3760,
        980
      ]
    },
    {
      "parameters": {},
      "id": "9d365e6d-c03d-4684-ae82-28243540b619",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4220,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "AccountId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8699571f-1dd7-45c4-89a0-1aff75dcd604",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2840,
        960
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "UserId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "876f737d-2b39-45cc-8ae8-31a82ee28d87",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4640,
        940
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "476d1438-f1b9-45d0-981c-4d2cf87a0c57",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        4860,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Coloque as informacoes'].json['URL CHATWOOT'] }}/platform/api/v1/accounts/{{ $json.AccountId }}/account_users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Coloque as informacoes').params[\"values\"][\"string\"][3][\"value\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.UserId }}"
            },
            {
              "name": "role",
              "value": "=administrator"
            }
          ]
        },
        "options": {}
      },
      "id": "0fc830a3-8dae-4ae2-b4df-d4740f9cf12f",
      "name": "Attach user at account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5140,
        1020
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "={{ $node['Coloque as informacoes'].json['URLQUEPASA'] }}",
        "token": "=sdveYzjd2YXXfwFRMp1wbgtk",
        "text": "=Olá {{ $node['Consulta Fatura2'].json[\"data\"][0][\"name\"] }}\n\n*Seu pagamento foi confirmado*\n\n👏Parabéns👏\n\nSegue seu acesso abaixo:\n\nSite: {{ $node[\"Coloque as informacoes\"].json[\"URL CHATWOOT\"] }}\n\nEmail: {{ $node['Consulta Fatura2'].json[\"data\"][0][\"email\"] }}\n\nSenha: !Abcd1234\n\nEstamos a Disposição.\n",
        "chatId": "=55{{ $node['Consulta Fatura2'].json[\"data\"][0][\"mobilePhone\"] }}@s.whatsapp.net",
        "trackId": "="
      },
      "id": "8391365c-a86f-4e58-b5fd-26732b3096ba",
      "name": "Quepasa",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        5800,
        900
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Consulta Fatura2'].json[\"data\"][0][\"email\"] }}",
        "subject": "Pagamento Aprovado SocialAtendimento",
        "message": "=Olá {{ $node['Consulta Fatura2'].json[\"data\"][0][\"name\"] }}\n\n*Seu pagamento foi confirmado*\n\n👏Parabéns👏\n\nSegue seu acesso abaixo:\n\nSite: {{ $node[\"Coloque as informacoes\"].json[\"URL CHATWOOT\"] }}\n\nEmail: {{ $node['Consulta Fatura2'].json[\"data\"][0][\"email\"] }}\n\nSenha: !Abcd1234\n\nEstamos a Disposição.\n",
        "options": {}
      },
      "id": "f2f1b1eb-3734-4806-88ba-f594847962fc",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        5800,
        620
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail SocialAtendimento"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da238072-93c5-49ad-a4a1-0d5287a71b08",
        "options": {}
      },
      "id": "223d1130-f48f-4fca-9f8c-5c8d7161a5d0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -820,
        1200
      ],
      "webhookId": "175391d1-dea2-4d07-9e86-e4817026e3b2",
      "continueOnFail": true,
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "value": "={{ $json['Data próximo Vencimento'] }}",
        "dataPropertyName": "data_formatada",
        "toFormat": "YYYY-MM-DD",
        "options": {}
      },
      "id": "abf14287-ecb4-4fd4-960c-03d896bf1cfc",
      "name": "Enviando Formato Data Vencimento",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        2200,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Coloque as informacoes'].json['URL CHATWOOT'] }}/platform/api/v1/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Coloque as informacoes').params[\"values\"][\"string\"][3][\"value\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $node['Organizando as Informações'].json.client_name }}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            },
            {
              "name": "custom_attributes.identifier",
              "value": "={{ $json.client_identifier }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1dfdac65-1d84-4ba0-989f-829ceed8101c",
      "name": "Cria Cliente Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3500,
        980
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Coloque as informacoes'].json['URL CHATWOOT'] }}/platform/api/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Coloque as informacoes').params[\"values\"][\"string\"][3][\"value\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $node['Organizando as Informações'].json.client_name }}"
            },
            {
              "name": "email",
              "value": "={{ $node['Organizando as Informações'].json.client_email }}"
            },
            {
              "name": "password",
              "value": "=!Abcd1234"
            }
          ]
        },
        "options": {}
      },
      "id": "94504b59-b26a-40af-8f27-278bc5c3646e",
      "name": "Cria cliente conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4420,
        940
      ],
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Dias",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "id": "83ebd733-a7e2-4024-9af8-7482f4eaa652",
      "name": "Dias",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        920,
        760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "5"
            },
            {
              "name": "Inbox",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "847d5e2a-afe1-4e1f-94c9-6d3fbc674d81",
      "name": "ID Plano 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "10"
            },
            {
              "name": "Inbox",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "7e81210a-82c2-4cc2-9933-d1455474ef3f",
      "name": "ID Plano ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "20"
            },
            {
              "name": "Inbox",
              "value": "6"
            }
          ]
        },
        "options": {}
      },
      "id": "cb360ef8-7fd9-4ee5-b6d7-d6df2048c10d",
      "name": "ID Plano 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "40"
            },
            {
              "name": "Inbox",
              "value": "16"
            }
          ]
        },
        "options": {}
      },
      "id": "c9f168f1-4f78-4f11-9938-2666d00b0312",
      "name": "ID Plano 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"public\".\"accounts\" SET \"limits\"='{\"agents\": \"{{ $node[\"Dias\"].json[\"Atendentes\"] }}\", \"inboxes\": \"{{ $node[\"Dias\"].json[\"Inbox\"] }}\"}'",
        "options": {}
      },
      "id": "58ed5d7a-4e1c-4f82-aa3c-e85bb577a3f0",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        5220,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "=plan_{{ $json.body.payment.paymentLink }}",
        "rules": {
          "rules": [
            {
              "value2": "=plan_{{ $json['ID Plano 1'] }}"
            },
            {
              "value2": "=plan_{{ $json['ID Plano 2'] }}",
              "output": 1
            },
            {
              "value2": "=plan_{{ $json['ID Plano 3'] }}",
              "output": 2
            },
            {
              "value2": "=plan_{{ $json['ID Plano 4'] }}",
              "output": 3
            }
          ]
        }
      },
      "id": "1fbaf970-0f4c-4249-974b-c3a99ab4c0e9",
      "name": "Switch Teste Desativar o Mesmo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        120,
        760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "URLQUEPASA",
              "value": "https://quepasa.socialatendimento.com.br"
            },
            {
              "name": "TOKEN QUEPASA",
              "value": "sdveYzjd2YXXfwFRMp1wbgtk"
            },
            {
              "name": "URL CHATWOOT",
              "value": "https://app.socialatendimento.com.br"
            },
            {
              "name": "TOKEN CHATWOOT",
              "value": "BQNfMgvpc1EKthBjj2ckSTgf"
            },
            {
              "name": "Token Asaas",
              "value": "$aact_YTU5YTE0M2M2N2I4MTliNzk0YTI5N2U5MzdjNWZmNDQ6OjAwMDAwMDAwMDAwMDAyMjM2MTA6OiRhYWNoXzllN2Q2ODIyLTI2MjgtNDYzNC1iNTBlLTkwMzA0NjM4NGY4OQ=="
            },
            {
              "name": "ID Plano 1",
              "value": "865315849345"
            },
            {
              "name": "ID Plano 2",
              "value": "703449178237"
            },
            {
              "name": "ID Plano 3",
              "value": "585484681559"
            },
            {
              "name": "ID Plano 4",
              "value": "772792292970"
            },
            {
              "name": "Seu Numero de Telefone",
              "value": "551530420926"
            },
            {
              "name": "customer",
              "value": "={{ $json.body.payment.customer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb87344c-6f9f-4b28-9530-4e1589e072bd",
      "name": "Coloque as informacoes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        760
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13iPzU9CrjUnri_dXLtn4W2R4dl5gTWScwzbFDL9QhFE",
          "mode": "list",
          "cachedResultName": "Expirados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13iPzU9CrjUnri_dXLtn4W2R4dl5gTWScwzbFDL9QhFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13iPzU9CrjUnri_dXLtn4W2R4dl5gTWScwzbFDL9QhFE/edit#gid=0"
        },
        "columnToMatchOn": "Nome",
        "valueToMatchOn": "={{ $node['Consulta Fatura2'].json[\"data\"][0][\"name\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Email",
              "fieldValue": "={{ $node['Consulta Fatura2'].json[\"data\"][0][\"email\"] }}"
            },
            {
              "column": "Telefone",
              "fieldValue": "={{ $node['Consulta Fatura2'].json[\"data\"][0][\"mobilePhone\"] }}"
            },
            {
              "column": "Próximo Vencimento",
              "fieldValue": "={{ $node['Enviando Formato Data Vencimento'].json[\"data_formatada\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c385bb12-a2d0-460c-add5-a2a7f6714f47",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        5480,
        780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Google SocialWhats"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "1011"
      },
      "id": "d6b73823-ed80-48e5-903a-33c2ad9d7448",
      "name": "QuepasaAutomatic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5420,
        1120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "PAYMENT_UPDATED"
            }
          ]
        }
      },
      "id": "93146400-9516-4a36-92ca-cf95b000ea83",
      "name": "Renovação de Plano",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -520,
        1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "URLQUEPSA",
              "value": "https://quepasa.socialatendimento.com.br"
            },
            {
              "name": "TOKEN QUEPASA",
              "value": "sdveYzjd2YXXfwFRMp1wbgtk"
            },
            {
              "name": "Token Asaas",
              "value": "$aact_YTU5YTE0M2M2N2I4MTliNzk0YTI5N2U5MzdjNWZmNDQ6OjAwMDAwMDAwMDAwMDAyMjM2MTA6OiRhYWNoXzllN2Q2ODIyLTI2MjgtNDYzNC1iNTBlLTkwMzA0NjM4NGY4OQ=="
            },
            {
              "name": "ID Plano 1",
              "value": "865315849345"
            },
            {
              "name": "ID Plano 2",
              "value": "703449178237"
            },
            {
              "name": "ID Plano 3",
              "value": "585484681559"
            },
            {
              "name": "ID Plano 4",
              "value": "772792292970"
            },
            {
              "name": "customer",
              "value": "={{ $json.body.payment.customer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e968014-c85f-4d38-ae81-357278b315d2",
      "name": "Coloque as informações Informações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"public\".\"accounts\" SET \"updated_at\"='{{ $node['Enviando Formato Data Vencimento1'].json.data_formatada }}'",
        "options": {}
      },
      "id": "8040b9d6-79e0-40fe-a9aa-7f47b4893fd2",
      "name": "Consultar Cliente inserir Dias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        3040,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=Update accounts set status = 0 where name = '{{ $node[\"Localiza Cliente\"].json.name }}'",
        "options": {}
      },
      "id": "30dbc9c6-14c8-468b-9239-363962590fcb",
      "name": "Reativa Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        3240,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.data[0].dateCreated }}",
        "duration": "={{ $node.Dias1.json.DIas }}",
        "dataPropertyName": "Data próximo Vencimento",
        "options": {}
      },
      "id": "5924d24c-c805-4e9e-bff1-0fbd4d0c628c",
      "name": "Capturando Data1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1980,
        1640
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json['Data próximo Vencimento'] }}",
        "duration": "={{ $('Dias1').item.json.DIas }}",
        "dataPropertyName": "data_formatada",
        "options": {}
      },
      "id": "24345bf9-0fe4-4748-b066-716412ffdc72",
      "name": "Enviando Formato Data Vencimento1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        2200,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "client_name",
              "value": "={{ $json.data[0].name }}"
            },
            {
              "name": "=client_email",
              "value": "={{ $json.data[0].email }}"
            },
            {
              "name": "=client_cel",
              "value": "={{$json[\"client_cel\"]}}"
            },
            {
              "name": "Companies",
              "value": "=INSERT INTO \"Companies\" (\"id\", \"name\", \"phone\", \"email\", \"createdAt\", \"updatedAt\", \"planId\", \"status\", \"schedules\", \"dueDate\", \"recurrence\") VALUES ({{$json[\"client_documment\"]}}, '{{ $json.data[0].name }}', '{{$json[\"client_cel\"]}}', '{{ $json.data[0].email }}', '2022-10-21 13:12:29.305+02', '2022-10-21 16:35:08.38+02', {{$json[\"Pacote\"]}}, 'true', '[]', '{{ $json[\"data_formatada\"] }}', 'MENSAL');"
            },
            {
              "name": "Users",
              "value": "=INSERT INTO \"Users\" (\"id\", \"name\", \"email\", \"passwordHash\", \"createdAt\", \"updatedAt\", \"profile\", \"tokenVersion\", \"companyId\", \"super\", \"online\") VALUES ({{$json[\"client_documment\"]}}, '{{$json[\"client_name\"]}}', '{{$json[\"client_email\"]}}', '$2a$08$x7N3auyfdVPRH8x5HEC3BO9yT5i2bXaRLA.JzWUJetj002UZya6z.', '2022-10-21 13:12:29.369+02', '2022-10-21 17:27:00.087+02', 'admin', 0, {{$json[\"client_documment\"]}}, 'true', 'false');"
            },
            {
              "name": "Settings",
              "value": "=INSERT INTO \"Settings\" (\"key\", \"value\", \"createdAt\", \"updatedAt\", \"companyId\", \"id\") VALUES ('campaignsEnabled', 'true', '2022-10-21 19:54:16.723+02', '2022-10-21 19:54:16.723+02', {{$json[\"client_documment\"]}}, {{$json[\"client_documment\"]}});"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "018e2f36-f805-4657-a589-763be037c004",
      "name": "Organizando as Informações1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2600,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "DIas",
              "value": "=30"
            }
          ]
        },
        "options": {}
      },
      "id": "c5e0872f-fadd-4c3b-b006-d2204ec129d6",
      "name": "Dias1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        980,
        1660
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{ $('Coloque as informações Informações').item.json.URLQUEPSA }}",
        "token": "={{ $('Coloque as informações Informações').item.json['TOKEN QUEPASA'] }}",
        "text": "=Olá {{ $node['Consulta Fatura'].json.data[0].name }}\n\n*Seu pagamento foi confirmado*\n\n👏Parabéns seu plano foi renovado com sucesso👏\n",
        "chatId": "=55{{ $node['Consulta Fatura'].json.data[0].mobilePhone }}@s.whatsapp.net"
      },
      "id": "944e86c1-de42-4444-85ea-9cceb7e83a10",
      "name": "Quepasa1",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        3700,
        1800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Consulta Fatura'].json.data[0].email }}",
        "subject": "Renovação seu Plano SocialAtendimento",
        "message": "=Olá {{ $node['Consulta Fatura'].json.data[0].name }}\n\nSeu pagamento foi confirmado\n\n👏Parabéns seu plano foi renovado com sucesso👏",
        "options": {}
      },
      "id": "d8ca989c-8613-4af6-a910-4754d06542fb",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3700,
        1500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail SocialAtendimento"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "5"
            },
            {
              "name": "Inbox",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "e2245de5-c4c1-4abc-96ff-59268a2acecf",
      "name": "ID Plano 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        1360
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "10"
            },
            {
              "name": "Inbox",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "2bf52fb5-87ea-4808-9b5a-fb61df25d192",
      "name": "ID Plano 5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        1600
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "20"
            },
            {
              "name": "Inbox",
              "value": "6"
            }
          ]
        },
        "options": {}
      },
      "id": "ada894a5-bad1-47af-9b36-054fd691e5db",
      "name": "ID Plano 6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        1800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Atendentes",
              "value": "30"
            },
            {
              "name": "Inbox",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "0a15ada1-7774-4777-b221-c06a3b6df9a0",
      "name": "ID Plano 7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        2000
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "=plan_{{ $json.body.payment.paymentLink }}",
        "rules": {
          "rules": [
            {
              "value2": "=plan_{{ $json['ID Plano 1'] }}"
            },
            {
              "value2": "=plan_{{ $json['ID Plano 2'] }}",
              "output": 1
            },
            {
              "value2": "=plan_{{ $json['ID Plano 3'] }}",
              "output": 2
            },
            {
              "value2": "=plan_{{ $json['ID Plano 4'] }}",
              "output": 3
            }
          ]
        }
      },
      "id": "a940eb39-1d3d-4bd2-9bfa-f9072275b69e",
      "name": "Switch Teste Desativar o Mesmo1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        120,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "accounts",
          "mode": "list",
          "cachedResultName": "accounts"
        },
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.data[0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6aae6a7f-335e-46f7-8afc-dcf8a8999d60",
      "name": "Localiza Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        2840,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13iPzU9CrjUnri_dXLtn4W2R4dl5gTWScwzbFDL9QhFE",
          "mode": "list",
          "cachedResultName": "Expirados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13iPzU9CrjUnri_dXLtn4W2R4dl5gTWScwzbFDL9QhFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13iPzU9CrjUnri_dXLtn4W2R4dl5gTWScwzbFDL9QhFE/edit#gid=0"
        },
        "columnToMatchOn": "Nome",
        "valueToMatchOn": "={{ $node[\"Localiza Cliente\"].json.name }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Próximo Vencimento",
              "fieldValue": "={{ $node['Date & Time'].json.data_formatada }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d4c598c-7f35-4260-aa76-d2323e230cb7",
      "name": "Atualiza Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3420,
        1640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Google SocialWhats"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data[0].id }}",
              "value2": "={{ $('Coloque as informacoes').item.json.customer }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c74e8326-c997-45c9-a9b1-3d83a76f0f5b",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1700,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.payment.invoiceUrl }}",
        "options": {}
      },
      "id": "fb12c347-4c3e-422c-8e40-1c8853edc962",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1160,
        760
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.data.match(/<span class=\"name\">(.*?)<\\/span>/)[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa4ca48e-af27-4f00-af05-682dcad4e698",
      "name": "Separa Nome",
      "type": "n8n-nodes-base.set",
      "position": [
        1340,
        760
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/customers?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.nome }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "=$aact_YTU5YTE0M2M2N2I4MTliNzk0YTI5N2U5MzdjNWZmNDQ6OjAwMDAwMDAwMDAwMDAyMjM2MTA6OiRhYWNoXzllN2Q2ODIyLTI2MjgtNDYzNC1iNTBlLTkwMzA0NjM4NGY4OQ=="
            }
          ]
        },
        "options": {}
      },
      "id": "23bc4222-b5f8-47bd-aafc-73c5ea86bc70",
      "name": "Consulta Fatura2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        760
      ],
      "executeOnce": false,
      "typeVersion": 3,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.payment.invoiceUrl }}",
        "options": {}
      },
      "id": "d7b98ba3-8ebb-4ccb-90a9-7aed35904d5f",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        1660
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json.data.match(/<span class=\"name\">(.*?)<\\/span>/)[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3965013-2e59-49ad-a5ea-34d48394f544",
      "name": "Separa Nome1",
      "type": "n8n-nodes-base.set",
      "position": [
        1380,
        1660
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/customers?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.nome }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "=$aact_YTU5YTE0M2M2N2I4MTliNzk0YTI5N2U5MzdjNWZmNDQ6OjAwMDAwMDAwMDAwMDAyMjM2MTA6OiRhYWNoXzllN2Q2ODIyLTI2MjgtNDYzNC1iNTBlLTkwMzA0NjM4NGY4OQ=="
            }
          ]
        },
        "options": {}
      },
      "id": "8000e394-499d-4742-940e-c4c0d0df2ccd",
      "name": "Consulta Fatura",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1560,
        1660
      ],
      "executeOnce": false,
      "typeVersion": 3,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.data_formatada }}",
        "format": "yyyy/MM/dd",
        "outputFieldName": "data_formatada",
        "options": {}
      },
      "id": "a4cc32ea-9173-42a6-b2bf-43c4521a396d",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2400,
        1640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data[0].id }}",
              "value2": "={{ $('Renovação de Plano').item.json.body.payment.customer }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "1483b95d-fdc1-45f6-8aab-e6016acd607d",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        1740,
        1660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "PAYMENT_CONFIRMED"
            }
          ]
        }
      },
      "id": "e2c3634b-5c18-4d52-9ebc-704d849cf7f4",
      "name": "Verificando Status1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -480,
        780
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Capturando Data": {
      "main": [
        [
          {
            "node": "Enviando Formato Data Vencimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizando as Informações": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existent Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existent Account": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If account found ?": {
      "main": [
        [],
        [
          {
            "node": "Cria Cliente Conta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If account found ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Cria cliente conta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Attach user at account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Cliente Conta": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria cliente conta": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviando Formato Data Vencimento": {
      "main": [
        [
          {
            "node": "Organizando as Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 1": {
      "main": [
        [
          {
            "node": "Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano ": {
      "main": [
        [
          {
            "node": "Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 2": {
      "main": [
        [
          {
            "node": "Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 3": {
      "main": [
        [
          {
            "node": "Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Teste Desativar o Mesmo": {
      "main": [
        [
          {
            "node": "ID Plano 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID Plano ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID Plano 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID Plano 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coloque as informacoes": {
      "main": [
        [
          {
            "node": "Switch Teste Desativar o Mesmo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dias": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renovação de Plano": {
      "main": [
        [
          {
            "node": "Coloque as informações Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coloque as informações Informações": {
      "main": [
        [
          {
            "node": "Switch Teste Desativar o Mesmo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Cliente inserir Dias": {
      "main": [
        [
          {
            "node": "Reativa Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturando Data1": {
      "main": [
        [
          {
            "node": "Enviando Formato Data Vencimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviando Formato Data Vencimento1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizando as Informações1": {
      "main": [
        [
          {
            "node": "Localiza Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dias1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Verificando Status1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Renovação de Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Teste Desativar o Mesmo1": {
      "main": [
        [
          {
            "node": "ID Plano 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID Plano 5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID Plano 6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID Plano 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 4": {
      "main": [
        [
          {
            "node": "Dias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 5": {
      "main": [
        [
          {
            "node": "Dias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 6": {
      "main": [
        [
          {
            "node": "Dias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Plano 7": {
      "main": [
        [
          {
            "node": "Dias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Localiza Cliente": {
      "main": [
        [
          {
            "node": "Consultar Cliente inserir Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach user at account": {
      "main": [
        [
          {
            "node": "QuepasaAutomatic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Separa Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Nome": {
      "main": [
        [
          {
            "node": "Consulta Fatura2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Fatura2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Capturando Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Quepasa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Separa Nome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Nome1": {
      "main": [
        [
          {
            "node": "Consulta Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Fatura": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reativa Cliente": {
      "main": [
        [
          {
            "node": "Atualiza Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Capturando Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Organizando as Informações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Planilha": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quepasa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificando Status1": {
      "main": [
        [
          {
            "node": "Coloque as informacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "b0f71cd8-5a1d-49de-87d7-50500efda94c",
  "id": "1019",
  "meta": {
    "instanceId": "c1d85c6e4bc8af8e81ca39a4929ddc8441c88a883b07fbb3363376f1b123e457"
  },
  "tags": []
}